/** content area */
.form-container {
  border-left:solid 1px #70757a;
  grid-area: form-container;
  padding:50px;
  color:#70757a;

  form {
    padding:20px;
    background-color:white;
    border:solid 1px #CCCCCC;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #field3 {
    margin-left:0;
  }

  .cluster {
    margin:10px 0px;
  }
}