@import "components/FormContainer/FormContainer.scss";
@import "components/Header/Header.scss";
@import "components/List/List.scss";

body {
  background-color:#f2f2f2;
  font-family: arial, sans-serif;
  margin:0;
  padding:0;

  .app {
    box-sizing: border-box;
    display:grid;
    min-width:950px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 55px 1fr;
    grid-template-areas:
            "header header"
            "list form-container";
    height:100vh;
  }
}

